In [1]:
import pandas as pd
import numpy as np
import dateutil

In [2]:
try_df = pd.read_csv('data.csv', header=None, names=['DATE','TAVG', 'TMAX', 'TMIN'], usecols=[1,2,5,8]).fillna(0)

In [3]:
try_df['DATE'] = pd.to_datetime(try_df['DATE'])

In [10]:
a = try_df['DATE'].values[0]
a.strftime('%j')

AttributeError: 'numpy.datetime64' object has no attribute 'strftime'

In [7]:
try_df

           DATE  TAVG  TMAX  TMIN
0    1881-01-01   2.0   9.7  -6.2
1    1881-01-02   2.4   6.3  -0.7
2    1881-01-03   1.4   9.7  -3.4
3    1881-01-04   0.6  10.1  -5.8
4    1881-01-05   0.8  11.3  -5.8
5    1881-01-06   2.0  11.3  -4.3
6    1881-01-07   2.0   7.3  -2.2
7    1881-01-08   0.5   6.6  -6.8
8    1881-01-09   1.9   8.4  -6.8
9    1881-01-10   1.5   8.4  -5.3
10   1881-01-11  -1.2   5.5  -9.2
11   1881-01-12  -1.6   6.1  -9.2
12   1881-01-13   0.2   6.1  -6.9
13   1881-01-14   0.2   7.5  -4.8
14   1881-01-15  -0.5   9.3  -5.9
15   1881-01-16   1.4   9.3  -5.9
16   1881-01-17   2.3   8.3  -4.2
17   1881-01-18   1.7   8.3  -2.4
18   1881-01-19   1.4   6.7  -2.4
19   1881-01-20   0.8   6.5  -3.8
20   1881-01-21   0.5   6.5  -6.3
21   1881-01-22  -0.2   2.9  -6.3
22   1881-01-23   0.1   6.6  -4.6
23   1881-01-24   0.8   6.6  -3.3
24   1881-01-25  -1.0   4.5  -5.2
25   1881-01-26  -1.7   2.2  -5.7
26   1881-01-27  -0.8   6.2  -5.7
27   1881-01-28   1.6  10.1  -5.3
28   1881-01-29   2.9  10.1  -5.3
29   1881-01-30   0.2   5.9  -5.2
...         ...   ...   ...   ...
1292 1891-04-01  13.7  23.3   4.7
1293 1891-04-02  12.7  21.4   4.4
1294 1891-04-03  11.4  20.1   4.4
1295 1891-04-04  10.6  19.7   0.2
1296 1891-04-05  13.0  19.7   0.2
1297 1891-04-06  12.2  18.8   5.6
1298 1891-04-07   7.7  14.5   3.4
1299 1891-04-08   6.9  16.5  -2.0
1300 1891-04-09   8.7  18.3  -2.0
1301 1891-04-10  11.3  22.3   1.6
1302 1891-04-11  13.7  22.3   1.6
1303 1891-04-12  15.7  21.1   9.5
1304 1891-04-13  16.1  24.4   8.3
1305 1891-04-14  13.6  24.4   5.7
1306 1891-04-15  11.9  17.7   5.6
1307 1891-04-16  11.9  14.9   5.1
1308 1891-04-17  11.2  17.3   3.7
1309 1891-04-18  11.8  18.9   3.7
1310 1891-04-19  11.3  18.9   2.1
1311 1891-04-20  10.5  18.9   2.1
1312 1891-04-21  11.2  20.6   1.3
1313 1891-04-22  12.6  22.8   1.3
1314 1891-04-23  15.0  23.1   3.9
1315 1891-04-24  13.5  23.1   4.1
1316 1891-04-25  10.3  17.2   0.6
1317 1891-04-26  10.9  17.2   0.6
1318 1891-04-27  12.6  18.9   7.9
1319 1891-04-28  13.7  21.9   6.1
1320 1891-04-29  13.8  21.9   5.8
1321 1891-04-30  13.2  20.2   5.8

[1322 rows x 4 columns]

In [6]:
a = try_df['DATE']
type(a[0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
[a[0].year, a[0].month, a[0].day]

[1881, 1, 1]

In [8]:
b = a[1]-a[0]
type(b)

pandas._libs.tslibs.timedeltas.Timedelta

In [9]:
b.days

1