In [1]:
import pandas as pd
import numpy as np
import dateutil

In [2]:
df1 = pd.read_csv('2556647.csv', usecols = ['DATE', 'TMAX', 'TMIN', 'TOBS'])
df2 = pd.read_csv('2556652.csv', usecols = ['DATE', 'TMAX', 'TMIN', 'TOBS'])
df = pd.concat([df1, df2], sort =False)
df['TMAX'] = df['TMAX'].replace(np.nan, 0)
df['TMIN'] = df['TMIN'].replace(np.nan, 0)

col_avg = (df.loc[df['TOBS'].isna(),'TMAX'].add(df.loc[df['TOBS'].isna(),'TMIN'])) * 0.5
df.loc[df['TOBS'].isna(), 'TOBS'] = col_avg

In [5]:
a = df['DATE'][0].tolist()
a

['1949-01-01', '2008-07-21']

In [6]:
from datetime import datetime 
A = datetime. strptime(a[0], '%d/%m/%y %H:%M:%S')

ValueError: time data '1949-01-01' does not match format '%d/%m/%y %H:%M:%S'

In [ ]:
# df['DATE'] = pd.to_datetime(df['DATE']).timetuple().tm_yday
# pd.Timestamp(d)